*.egg-info/
.installed.cfg
*.egg

dist
db.sqlite3

venv



local_settings.py

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/
media


Secret_files


# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history